

<div class="row" *ngIf="movie">
  <div class="col-md-6 ancho">

    <img [src]="movie.poster_path | poster "
         [alt]="movie.title"
         class="img-thumbnail">
  </div>

  <div class="col-md-6">

    <h3>{{ movie.title }}</h3>

    <div class="row">
      <div class="col">
        <star-rating [value]="movie.vote_average"
                     [totalstars]="10"
                     checkedcolor="yellow"
                     uncheckedcolor="grey"
                     size="16px"
                     [readonly]="false"></star-rating>
      </div>
      <div class="col text-white mb-3">
        {{ movie.vote_average | number:'1.1'}}
      </div>
    </div>

    <div class="row">
      <div class="col text-white">
        {{ movie.overview}}
      </div>
    </div>

    <div class="row mt-5">
      <div class="col">
        <button class="btn btn-outline-info"
                (click)="regresar()">
          Regresar
        </button>
      </div>
    </div>

  </div>
</div>

<div class="row mt-5" *ngIf="actores.length > 0">
  <div class="col">
    <app-cast-slideshow [actores]="actores"></app-cast-slideshow>
  </div>
</div>
